# PostgreSQL / PostGIS
POSTGRES_USER=webatlas
POSTGRES_PASSWORD=change_me_dev
POSTGRES_DB=webatlas
POSTGRES_PORT=5432

# GeoServer
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=change_me_dev
GEOSERVER_PORT=8080
